<mat-toolbar color="basic" class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon> App Clinica </span>


   <div class="spacer"></div>







    <a *ngIf="this.cookies.GetSesionActual() == null" mat-button color="primary" routerLink="/LogIn" >LogIn</a>
    <a *ngIf="this.cookies.GetSesionActual() == null" mat-button color="primary" routerLink="/LogUp" >LogUp</a>


    <a *ngIf="this.cookies.GetSesionActual() != null" mat-raised-button color="warn" (click)="logOut()">Log Out</a>


    <div style="margin: 0%; padding: 0%;" *ngIf="this.cookies.GetSesionActual() != null">

        <a *ngIf="this.cookies.GetSesionActual().tipo != 'Especialista' " mat-button color="primary"  routerLink="/Turno" >Solicitar Turno</a>

        <a *ngIf="this.cookies.GetSesionActual().tipo == 'Paciente' " mat-button color="primary"  routerLink="/MisTurnos" >Mis Turnos</a>
        <a *ngIf="this.cookies.GetSesionActual().tipo == 'Recepcionista' " mat-button color="primary"  routerLink="/MisTurnos" >Turnos</a>


         <a *ngIf="this.cookies.GetSesionActual().tipo == 'Recepcionista' " mat-button color="primary"  routerLink="/Sala" >Sala de Espera</a>
        <a *ngIf="this.cookies.GetSesionActual().tipo == 'Especialista' " mat-button color="primary"  routerLink="/EspecialistaTurnos" >Mis Turnos</a>


      <a *ngIf="this.cookies.GetSesionActual().tipo == 'admin'" mat-button color="primary"  routerLink="/TurnoCon" >Turnos Consulta</a>
      <a *ngIf="this.cookies.GetSesionActual().tipo == 'admin'" mat-button color="primary" routerLink="/AltaPaciente" >Altas</a>


      <span> Hola {{this.cookies.GetSesionActual().nombre}}   <img style="width:60px; height: auto;" src={{this.cookies.GetSesionActual().imagen}}></span>
   </div>


</mat-toolbar>



<router-outlet></router-outlet>

