
      <ng-container *ngIf="this._DATASOURCE != null; else elseTemplate">



        <div>

          <table mat-table [dataSource]="this._DATASOURCE" matTableExporter #exporter="matTableExporter" class="mat-elevation-z8">

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> <h3>Fecha</h3>  </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha | date :'shortTime'}} </td>
            </ng-container>




          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> <h3>Nombre</h3>  </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> <h3>Apellido</h3> </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>

          <ng-container matColumnDef="cod_sala">
            <th mat-header-cell *matHeaderCellDef> <h3>Sala</h3> </th>
            <td mat-cell *matCellDef="let element">{{element.cod_sala}}   </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>





        </div>


        <hr>










      </ng-container>
       <ng-template #elseTemplate>
         <h4>No tienes Turnos Pendientes...!!!</h4>
       </ng-template>





